body{
    font-family: 'Roboto Condensed', sans-serif;}

a{ 
    text-decoration: none;
    color: black;}

    


.main{
        display: flex;
        align-items: center;
        padding: 0rem 8rem;
        border-bottom: 5px solid black;}


.video{ 
        width: 100%;
        height: 100%;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;}

.principal{ 
            width: 600px;
            height: 800px;
            background-color: blueviolet;
            flex-flow:wrap row  ;}


.servicios { 
                display: flex; 
                align-items: center; 
                justify-content: center;}
    
.foto_uno {
                width: 400px; 
                height: 400px;}
    
.foto_dos {
                width: 400px ;
                height: 400px;}
    
.invocar { 
                display: list-item;
                margin-top: 100px;}
    
    
.proveedores {
                margin: 100px 30px 100px 150px;}
    
    
.trabajos {
                align-items: center; 
                justify-content: center;}
    
.contacto{
               justify-content: center;}

.titulo {
        width: 100%;
        h1{
          margin-bottom: 1.5rem;}
        h2{
              border-bottom: 1rem;}}



.trabajo{
    margin: 1rem 2rem 1rem 2rem;}

.trabajo_dos{   display: flex;
                justify-items: center;
                margin: auto;
                img{width: 200px;}}

.carrousel{
      width: 100%;
      
  }
  
.conteCarrousel{
      width: 100%;
      height: 400px;
      overflow: hidden;
  }
  
.itemCarrousel{
      position: relative;
      width: 100%;
      height: 100%;
  }
  
.itemCarrouselTarjeta{
      width: 100%;
      height: 100%;
  }

img {
  width: 100%;
height: 100%;}
  
.itemCarrouselArrows{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px; 
  }
  
.itemCarrouselArrows > i:hover {
      cursor: pointer;
  }
  
#itemCarrousel-1{
      background-color: rgb(226, 50, 50);
  }
  
#itemCarrousel-2{
      background-color: rgb(50, 200, 226);
  }
  
#itemCarrousel-3{
      background-color: rgb(200, 226, 50);
  }
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
            